body {
  background: #38302e;
  color: #ccdad1;
  font: 20px Baskerville;
  text-align: center;
}

p {
  outline: 3px solid white;
  background-color: #788585;
  margin: 40px;
  margin-right: 40px;
}

@media screen and (min-width: 600px) {
  body {background-color: black;}

}

@media screen and (min-width: 800px) {
  body {background-color: #6F6866;}
  
}
  
@media screen and (min-width: 1000px) {
  body {background-color: #788585;}
  
}
